@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css";


.translate-nav{
  animation-name: nav-like-animation;
  animation-duration: .6s;
}

@keyframes nav-like-animation {
  from {
    left: -20%;
  }
  to{
    left: 0%;
  }
}

.borde-r{
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

::-webkit-scrollbar{
  display: none;
}



