@tailwind base;
@tailwind components;
@tailwind utilities;


.translate-nav{
  animation-name: nav-like-animation;
  animation-duration: .6s;
}

@keyframes nav-like-animation {
  from {
    left: -20%;
  }
  to{
    left: 0%;
  }
}

